#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-menu {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFB300;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Line_9 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FFB300;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Two-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Picture_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Two-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Picture_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Two-line-item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Picture_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_49 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-blackoverlay {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-top {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-item {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f #s-filler {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2cce200a-d152-4cc6-9bc0-7ab6b1303f5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}