#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-message {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Label_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-add {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-statusbar {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-overlay {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-777823c9-a1bc-478d-a7f2-c995b358061c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}