#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Label_49 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f1619bdd-1454-4ebe-895c-c25563795fc1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}